# HOMEWORK NÂ°1

## IMPORTS

In [2]:
import numpy as np
import pandas as pd

## Question 1

In [3]:
np.__version__

'1.21.5'

## Question 2

In [4]:
pd.__version__

'1.4.3'

## Question 3

In [12]:
df = pd.read_csv('data/data.csv')
df.head(1)

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135

In [13]:
bmw_mean_price = df[df['Make'] == 'BMW']['MSRP'].mean()
bmw_mean_price

61546.76347305389

## Question 4

In [22]:
null_values = df[df['Year'] >= 2015]['Engine HP'].isnull().sum()
null_values

51

## Question 5

In [32]:
mean_hp_before = df['Engine HP'].mean()
## fill with the mean value the places with na values
df = df.fillna(mean_hp_before)
## Calculate de mean of the 'engine HP' after fill the na values
mean_hp_after = df['Engine HP'].mean()
print(f'The mean before fill the na values with mean is: {round(mean_hp_before)}\n\
The mean after fill the na values with mean is: {round(mean_hp_after)}')

The mean before fill the na values with mean is: 249
The mean after fill the na values with mean is: 249

## Question 6

In [39]:
df1 = df[df['Make'] == 'Rolls-Royce'][["Engine HP", "Engine Cylinders", "highway MPG"]]
df1 = df1.drop_duplicates()
df1.shape

(7, 3)

In [50]:
X = df1.to_numpy()
XT = X.T
XTX = XT.dot(X)
XTX.sum()

1970887.0

## Question 7

In [56]:
y = np.array([1000, 1100, 900, 1200, 1000, 850, 1300])
XTX_inv = np.linalg.inv(XTX)
w = (XTX_inv.dot(XT)).dot(y)
w

array([ 0.19989598, 31.02612262, 31.65378877])